<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">

  <display-name>administrador</display-name>
  <welcome-file-list>
    <welcome-file>inicio.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>empresaCriada</display-name>
    <servlet-name>empresaCriada</servlet-name>
    <servlet-class>br.com.java.estudos.administrador.servlet.empresaCriada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empresaCriada</servlet-name>
    <url-pattern>/empresaCriada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>formCriaEmpresa</display-name>
    <servlet-name>formCriaEmpresa</servlet-name>
    <servlet-class>br.com.java.estudos.administrador.servlet.formCriaEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formCriaEmpresa</servlet-name>
    <url-pattern>/formCriaEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listarEmpresas</display-name>
    <servlet-name>listarEmpresas</servlet-name>
    <servlet-class>br.com.java.estudos.administrador.servlet.listarEmpresas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarEmpresas</servlet-name>
    <url-pattern>/listarEmpresas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeEmpresa</display-name>
    <servlet-name>removeEmpresa</servlet-name>
    <servlet-class>br.com.java.estudos.administrador.servlet.removeEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeEmpresa</servlet-name>
    <url-pattern>/removeEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editaEmpresa</display-name>
    <servlet-name>editaEmpresa</servlet-name>
    <servlet-class>br.com.java.estudos.administrador.servlet.editaEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editaEmpresa</servlet-name>
    <url-pattern>/editaEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editarEmpresa</display-name>
    <servlet-name>editarEmpresa</servlet-name>
    <servlet-class>br.com.java.estudos.administrador.servlet.editarEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editarEmpresa</servlet-name>
    <url-pattern>/editarEmpresa</url-pattern>
  </servlet-mapping>
</web-app>